.orderformimage {
  width: 100%;
  margin: 40px 0px 40px 0px;
}
.column-mobile {
  width: auto;
  float: left;
  margin: 0 0 15px;
}
.column1 {
  width: 50%;
  float: left;
  margin: 0 0 15px;
}
.column2 {
  width: 20%;
  float: left;
  margin: 0 15px 0;
}
.column3 {
  width: 20%;
  float: left;
  margin: 0 15px 0;
}
input, textarea, button {
/* input boxes for submission box */
  width: 100%;
}
input, textarea, button {
/* input boxes for submission box */
  width: 100%;
}
button.submit {
  height: 50px;
}
button.reset {
  /* reset button submission box */
    margin-top: .3em;
    color: red;
  	height: 30px;
}
hr {
	border-top: 3px double;
}
.box {
  padding: 15px;
  font-size: small;
  line-height: 24px;
  float: left;
  width: 100%;
  margin: 0;
}
/* from message form */
.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}
.container{
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}
@media screen and (max-width: 800px) {
  .container {
  	min-width:100%;
  }
}
@media screen and (min-width: 800px) {
  .container {
  	min-width:900px;
  }
}
*{
  box-sizing: border-box;
}
fieldset {
    padding: 1.2em;
}
